@font-face { font-family: Mario; src: url('marioFont.ttf'); } 

:root {
    --fat-font-size: 2.5em;
    --def-font-size: 1.2em;
    --border-size: 2px;
    --inverted-border-size: -1px;
    --border-color: #000;
}

.canvas-body {
    position:fixed; 
    top: 0; 
    right: 0;
}

#ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 30px;
    text-align: center;
    width: 50vw;
    height: 60vh;
    background: #8A86;
    border: 0.3vw solid #9892;
}

#info {
    width: 50vw;
    background: #8A86;
    border: 0.3vw solid #9892;
    padding: 10px;
}

.deep {
    display: flex;
    background: #FFF3;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Ensure that the pseudo-element doesn't overflow */
    font-family: Mario;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.webp');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure it is behind the content */
}

p {
    color: white;
    margin: 8px;
    font-size: var(--def-font-size);
    text-shadow: var(--inverted-border-size) var(--border-size) 0 var(--border-color),
                var(--border-size) var(--border-size) 0 var(--border-color),
                var(--border-size) var(--inverted-border-size) 0 var(--border-color),
                var(--inverted-border-size) var(--inverted-border-size) 0 var(--border-color);
}

button {
    display: block;
    color: white;
    margin: 5px;
    font-size: var(--def-font-size);
    font-family: Mario;
    text-shadow: var(--inverted-border-size) var(--border-size) 0 var(--border-color),
                var(--border-size) var(--border-size) 0 var(--border-color),
                var(--border-size) var(--inverted-border-size) 0 var(--border-color),
                var(--inverted-border-size) var(--inverted-border-size) 0 var(--border-color);
}

.fat {
    font-size: var(--fat-font-size);
    /* text-shadow: var(--inverted-border-size) var(--border-size) 0 var(--border-color),
                var(--border-size) var(--border-size) 0 var(--border-color),
                var(--border-size) var(--inverted-border-size) 0 var(--border-color),
                var(--inverted-border-size) var(--inverted-border-size) 0 var(--border-color);*/
    margin: 0;
}

.small {
    font-size: 0.8em
}

#frog { /* mandatory frog */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 128px;
    height: 128px;
}

#avatar {
    position: absolute;
    left: 40vw;
}